@import './variables';

ul {
  list-style: none;
  padding: 0;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: map-get($colors, primary);

  &:hover {
    color: map-get($colors, primary-hover);
  }
}

button {
  padding: 5px 15px;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: map-get($colors, secondary);
  border: 1px solid map-get($colors, secondary);

  &:hover {
    color: map-get($colors, secondary-hover);
    border: 1px solid map-get($colors, secondary-hover);
  }
}

.container {
  padding: 15px 10px;

  h1 {
    font-size: 2rem;
    font-weight: 800;
  }
}

@media(min-width: #{map-get($breakpoints, small)}) {
  .container {
    padding: 25px;

    h1 {
      font-size: 3rem;
    }
  }
}

/*
* Animation, with often use
*/

.validation {
  color: map-get($colors, error);
  animation-duration: 0.5s;
}

.fadeRight-enter,
.fadeRight-enter-to {
  animation: fadeInRight 0.6s;
}

.fadeRight-leave,
.fadeRight-leave-to {
  animation: fadeOutRight 0.6s;
}

