$colors: (
  primary: rgba(0, 0, 0, 0.54),
  primary-hover: rgba(0, 0, 0, 0.84),
  border: rgba(0, 0, 0, 0.2),
  secondary: #03a87c,
  secondary-hover: #0a6f54,
  error: #ff2818,
  bg-error: #ca0e00,
  dark: #222,
  bg-form: #e8f3ec,
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);
